[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==2.2.13"
psycopg2-binary = "==2.8.4"
django-bootstrap4 = "==1.0.1"
django-modeltranslation = "==0.14"
six = "*"
django-allauth = "==0.40.0"
djangorestframework = "==3.10.3"
django-rest-auth = "==0.9.5"
django-rest-swagger = "*"
celery = "*"
django-celery-results = "*"

[requires]
python_version = "3.6"
