{% load i18n %}
{% load static %}
{% load bootstrap4 %}
<!doctype html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% trans "Аренда машин" %}{% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="Logo"
                    height="30" width="30" class="d-inline-block alighn-top">{% trans "Аренда машин" %}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    {% if user.is_superuser %}
                    <a class="nav-item nav-link" href="{% url 'create_car' %}">{% trans "Добавить машину" %}</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link"
                        href="{% url 'users:dashboard' user.id %}">{% trans "Панель управления" %}</a>
                    <a class="nav-item nav-link" href="{% url 'account_logout' %}">{% trans "Выйти" %}</a>
                    {% else %}
                    <a class="nav-item nav-link" href="{% url 'account_signup' %}">{% trans "Зарегистрироваться" %}</a>
                    <a class="nav-item nav-link" href="{% url 'account_login' %}">{% trans "Войти" %}</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected="selected" {% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
            {% endfor %}
        </select>
        <input type="submit" value="{% trans 'Change' %}" />
    </form>


    <div class="wrapper">
        <div class="content">
            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
    <footer class="footer text-muted">
        <div class="container text-center">
            <p class="float-right">
                <a href="#">{% trans "Наверх" %}</a>
            </p>
            <p>© {% trans "Аренда машин" %} {% now 'Y' %}</p>
        </div>
    </footer>
    {% bootstrap_javascript jquery='full' %}
</body>

</html>