<!doctype html>
<html lang="ru">
{% load i18n %}
<!-- {% load staticfiles %} -->
{% load bootstrap4 %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% trans "Аренда машин" %}{% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    {% bootstrap_css %}
</head>

<body>
    <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">{% trans "Аренда машин" %}</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav ml-auto">
                            <a class="nav-item nav-link" href="#">{% trans "Зарегистрироваться" %}</a>
                            <a class="nav-item nav-link" href="#">{% trans "Войти" %}</a>
                            <a class="nav-item nav-link" href="#">{% trans "Выйти" %}</a>
                        </div>
                    </div>
                </nav>
    </header>

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    <footer class="text-muted">
        <div class="container text-center">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>© Аренда Машин {% now 'Y' %}</p>
        </div>
    </footer>
    {% bootstrap_javascript jquery='full' %}
</body>

</html>